<div class="col-md-3 sidebar-top">
  <div data-spy="affix" data-offset-top="10" data-offset-bottom="200">
    <img src="{{link 'images/logo.png'}}" class="img-rounded">
    <ul class="list-unstyled">
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</div>
